body
{
    font-family: "raleway", "sans-serif";
}
*{
    margin: 0; padding: 0;
    font-family: "raleway", sans-serif;
}
main
{
    padding: 0 3rem;
}
a
{
    text-decoration: none;
    color: black;
}
.header
{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 3rem;
}
.headerimg
{
    justify-content: flex-start;
    padding: 1rem;
    height: 3rem;

}
.headernav
{
    display: flex;
}
.link2
{
    padding: 0 15px 0 15px;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid;
}
.link1
{
    padding: 0 15px 0 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid;
}
.headerNavLink
{
    display: contents;
    justify-content: center;
    max-width: max-content;  
}
.searchHeader
{
    padding: 1rem;
}
.searchform
{
    padding: 1rem;
    display: flex;
}
.searchresult
{
    padding: 1rem;
}
.searchfilter
{
    display: flex;
    padding: 1rem;

}
.searchtitle2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchfilter2
{
    display: flex;
    align-items: center;
    border: 2px solid #e2e2e2;
    border-radius: 2rem;
}
.filterspan
{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.icon
{
    background-color: #c3dfff;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3px;
    color: blue;
}
.searchicon
{
    padding: 1rem;
    background-color: #f2f2f2;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.searchbutton
{
    background-color: #0065fc;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    padding: 1rem;
    font-weight: bold;
    border: none;
}
.searchbarre
{
    width: 200px;
    padding: 1rem;
    font-weight: bold;
    border-left: transparent;
    border-right: transparent;
    border-top: #f2f2f2 solid;
    border-bottom: #f2f2f2 solid;
}
.search3
{
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: large;
}
.searchresult
{
    display: flex;
}
.searchresulttext
{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.searchresulticon
{
    color: #0065fc;
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    border: solid #dcdbdb;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.hosting
{
    display: flex;
    justify-content: space-between;
}
.hostmain
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 63%;
    justify-content: space-evenly;
}
.hostcard
{
    display: flex;
    flex-wrap: wrap;
}
.hostpopular
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 30%;
}
.hosttitle
{
    align-items: flex-start;
    justify-content: flex-start;
}
.hostsection
{
    display: block;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 0.2);
    margin: 1.5rem;
    padding: 0.25rem;
    border-radius: 20px;
    height: 200px;
    width: 27%;
    background-color: white;
    
}
.popularcard
{
    height: 180px;
}
.card
{
    display: flex;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    margin: 1rem;
    padding: 0.25rem;
    border-radius: 20px;
    background-color: white;
    height: 135px;
}
.popularsection
{
    DISPLAY: FLEX;
    flex-direction: column;
}
.hostimg
{
    width: 100%;
    height: 60%;
}
.hostimg2
{
    width: 40%;
}
.hostimg3
{
    width: 60%;
}
.hostimg > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hostimg2 > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;   
}
.hostimg3 > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;   
}
.subtitle
{
    margin: 0 1rem;
}
.subtitlepopular
{
    margin: 0 2rem;
}
.subtitle1
{
    font-weight: bold;
    margin-top: 0.5rem;
}
.subtitle2
{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.subtitlecard
{
    margin-top: 0.25rem;
    margin-bottom: 2.5rem;
}
.fa, .fas
{
    color:#0065fc;
}
.titre
{
    margin-inline-start: 30px;
    margin-top: 2rem;
}
.titre2
{
    height: 10%;
    DISPLAY: flex;
    justify-content: flex-start;
    align-items: center;
    margin-inline-start: 30px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.afficher
{
    display: block;
    font-weight: bold;
    margin-inline-start: 30px;
    font-size: larger;
}
.activity
{
    display: flex;
    justify-content: space-evenly;
}
.activitysection
{
    display: flex;
    justify-content: space-evenly;
}
.activitycard
{
    height: 100%;
}
.activitycard1
{
    height: 50%;
}
.activitycard2
{
    height: 40%;
}
.activitycard3
{
    height: 43%;
}
.activitycard4
{
    height: 47%;
}
.activitytitle
{
    display: flex;
    margin-inline-start: 30px;
    margin-top: 5rem;

}
.colonne
{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 500px;
    margin: 1.5rem;
    padding: 0.25rem;
}
.colonne2
{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 500px;
    margin: 1.5rem;
    padding: 0.25rem;
}
.host2
{
    box-shadow: 1px 1px 20px #0000002e;
    border-radius: 20px;
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 100%;
}
.img2
{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.img3
{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
}
.subtitle4
{
    height: 11%;
    DISPLAY: flex;
    align-items: flex-end;
    margin-left: 2rem;
}
.footer
{
    display: flex;
    background-color:  #F2F2F2;
    height: 220px;
}
.footercolonne
{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 4rem;
}
.footertitle
{
    margin-bottom: 1rem;
    margin-top: 2rem;

}
.footerdescription
{
    margin-top: 1rem;
}